node_modules

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE and System
.codeoss/
.vscode/
.idea/
*.iml
.bash_history
.bash_logout
.bashrc
.profile
*.log
